.container {
  padding: 32px;
  display: grid;
  grid-template-columns: 3fr 1fr;

  min-height: calc(100vh - (86px + 96px));
  gap: 32px;
}

.container > div:nth-child(1) {
  font-size: 1.3rem;
  background-color: rgba(225, 225, 225, 1);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 32px;
  border-radius: 16px;
}

.container > div:nth-child(2) > div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(225, 225, 225, 1);
  padding: 32px;
  border-radius: 16px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.container > div:nth-child(2) > div:nth-child(1) > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
