.table {
  margin-top: 8px;
  background-color: rgba(225, 225, 225, 1);
  width: 100%;
  border-radius: 16px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.table > tbody > tr > td {
  border-bottom: solid 1px gray;
}
.table > tbody > tr:last-child > td {
  border-bottom: none;
}

.table > tbody > tr > td {
  padding: 8px 16px;
}
