.link {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  background-color: #f44336;
  display: block;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.link:hover {
  background-color: #c03126;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
