.modalOuterContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.501);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContainer {
  min-height: 100px;
  min-width: 400px;
  background-color: white;
  padding: 24px;
  border-radius: 32px;
}

.modalTitleContainer {
}

.modalFooterContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

.modalFooterContainer button:last-child {
  background-color: #388e3c;
  min-width: 75px;
}

.modalFooterContainer button:last-child:hover {
  background-color: #1b5e20;
}
