.contatcRowContainerOuter {
  padding: 32px;
  background: linear-gradient(
    96deg,
    rgba(57, 73, 171, 1) 0%,
    rgba(29, 41, 128, 1) 73%
  );
  color: white;
}

.contatcRowContainerInner {
  display: flex;
  gap: 16px;
}

.addressContainerOuter {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: white;
  padding: 32px;
  border-radius: 32px;
  color: #212121;
}

.addressItemContainer {
  display: flex;
  gap: 16px;
  align-items: center;
}

.descContainer {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.formContainer {
  background-color: white;
  padding: 32px;
  flex-grow: 1;
  border-radius: 32px;
  color: #212121;
}
