.faqContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: #fff3e0;
  padding: 16px 32px;
}
.faqQuestionContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: bold;
  font-weight: bold;
  font-size: 18px;
}

.faqQuestionContainer p {
  margin: 0px;
  flex-grow: 1;
}

.faqsRowContainer {
  padding: 32px;
}

.faqsRowInnerContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
