.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background-color: white;
  /* background-color: #c62828; */
  color: black;
}

.container div h1 {
  font-weight: bold;
}

.links {
  display: flex;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  gap: 16px;
}

.activePage {
  color: red;
}

/* .inAactivePage {
  color: red;
} */
